    <!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/resource/bg-1.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Destinations</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a href="index.html">Home</a></li>
                    <li class="current">Destinations</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Destination Tours Section-->
<section class="dest-section">
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/stones-right.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Trending Destinations</span></h2>
            <div class="text">Since 2014, we’ve helped more than 500,000 people of all ages enjoy the best outdoor experience of their lives. Whether it’s for one day or a two-week vacation, close to home or a foreign land.</div>
        </div>
        <!--MixitUp Galery-->
        <div class="mixitup-gallery">
            <!--Filter-->
            <div class="gallery-filters centered clearfix">
                <ul class="filter-tabs filter-btns clearfix">
                    <li class="active filter" data-role="button" data-filter="all">All</li>
                    <li class="filter" data-role="button" data-filter=".europe">Europe</li>
                    <li class="filter" data-role="button" data-filter=".asia">Asia</li>
                    <li class="filter" data-role="button" data-filter=".s-america">South America</li>
                    <li class="filter" data-role="button" data-filter=".n-america">North America</li>
                    <li class="filter" data-role="button" data-filter=".africa">Africa</li>
                    <li class="filter" data-role="button" data-filter=".australia">Australia</li>
                </ul>
            </div>
            <div class="filter-list row clearfix">
                <!--Block-->
                <div class="trend-block-one mix all africa australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-7.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Rajasthan</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all europe n-america africa australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-8.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Indonesia</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all europe asia s-america australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-9.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Bekasi</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all europe asia s-america col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-10.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Helsingfors</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all s-america n-america australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-11.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Tavastehus</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all europe asia africa australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-12.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Grankulla</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all s-america n-america africa col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-13.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Rajasthan</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all europe asia africa australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-14.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Indonesia</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

                <!--Block-->
                <div class="trend-block-one mix all europe asia s-america australia col-xl-4 col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <div class="image"><a href="#"><img src="~/assets/images/resource/tour-15.jpg" alt="" title=""></a></div>
                        </div>
                        <div class="count"><span>6 Tours</span></div>
                        <div class="title clearfix">
                            <h4><a href="#">Bekasi</a></h4>
                            <div class="more-link"><a href="#" class="theme-btn"><span class="far fa-long-arrow-right"></span></a></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="load-more"><a href="#" class="theme-btn btn-style-one"><span>Load More......</span></a></div>
        </div>
    </div>
</section>

<!-- Facts Section -->
<section class="facts-section">
    <div class="image-layer" style="background-image: url(images/background/image-6.jpg);"></div>
    <div class="auto-container">
        <div class="content-box">
            <div class="video-btn"><a href="https://www.youtube.com/watch?v=0xhr0j877bI" class="theme-btn lightbox-image"><span class="icon"><img src="~/assets/images/icons/video-icon-2.svg" alt="" title=""></span></a></div>
            <div class="subtitle">Are you ready to travel?</div>
            <h2>Treker is a World Leading Online Tour Booking Platform</h2>
        </div>
    </div>
    <div class="facts-box">
        <div class="auto-container">
            <div class="inner-box">
                <div class="row clearfix">
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="07"></span>+</div>
                            <div class="fact-title"><span>Years Exp</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="02"></span>k+</div>
                            <div class="fact-title"><span>Top Hosts</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="50"></span>+</div>
                            <div class="fact-title"><span>Top Country</span></div>
                        </div>
                    </div>
                    <!--Block-->
                    <div class="fact-block col-xl-3 col-lg-3 col-md-6 col-sm-12">
                        <div class="inner">
                            <div class="count"><span class="odometer" data-count="10"></span>k+</div>
                            <div class="fact-title"><span>Client Avilable</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Facts Section -->
<!--Testimonials Section-->
<section class="testimonials-one">
    <div class="floated-icon right"><img src="~/assets/images/resource/team-icon-left.svg" alt="" title=""></div>
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Top Reviews for Treker</span></h2>
        </div>
        <div class="carousel-box">
            <div class="testi-carousel owl-theme owl-carousel">
                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="image"><img src="~/assets/images/resource/testi-thumb-1.jpg" alt=""></div>
                        <div class="text">Fight School has specialized in martial arts since 1986 and has one of the most Fight School has specialized.</div>
                        <div class="info">
                            <div class="name">Randall Schwartz</div>
                            <div class="clearfix">
                                <div class="designation">Women's Trainner</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="image"><img src="~/assets/images/resource/testi-thumb-2.jpg" alt=""></div>
                        <div class="text">We teach martial arts because we love it — not because we want to make money on you. Unlike other martial.</div>
                        <div class="info">
                            <div class="name">Andru Smith</div>
                            <div class="clearfix">
                                <div class="designation">Boxing Trainer</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block alternate">
                    <div class="inner-box">
                        <div class="image-layer" style="background-image: url(images/background/testi-image-1.jpg);"></div>
                        <div class="over-box">
                            <div class="over-title"><a href="#">MASTER TREKER TRAVEL</a></div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="image"><img src="~/assets/images/resource/testi-thumb-1.jpg" alt=""></div>
                        <div class="text">Fight School has specialized in martial arts since 1986 and has one of the most Fight School has specialized.</div>
                        <div class="info">
                            <div class="name">Randall Schwartz</div>
                            <div class="clearfix">
                                <div class="designation">Women's Trainner</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block">
                    <div class="inner-box">
                        <div class="icon"><img src="~/assets/images/icons/quotes-1.svg" alt=""></div>
                        <div class="image"><img src="~/assets/images/resource/testi-thumb-2.jpg" alt=""></div>
                        <div class="text">We teach martial arts because we love it — not because we want to make money on you. Unlike other martial.</div>
                        <div class="info">
                            <div class="name">Andru Smith</div>
                            <div class="clearfix">
                                <div class="designation">Boxing Trainer</div>
                                <div class="rating"><div class="stars"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Testi Block-->
                <div class="testi-block alternate">
                    <div class="inner-box">
                        <div class="image-layer" style="background-image: url(images/background/testi-image-1.jpg);"></div>
                        <div class="over-box">
                            <div class="over-title"><a href="#">MASTER TREKER TRAVEL</a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
