@using TREKER.Business.ViewModels.FeatureVMs
@model UpdateFeatureVM

<div class="wrapper">
    <div class="container-fluid">

        <!-- Page-Title -->
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="btn-group m-0 pull-right">
                        <ol class="breadcrumb hide-phone p-0 m-0">
                            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Urora</a></li>
                            <li class="breadcrumb-item"><a asp-action="Tables" asp-controller="Dashboard">DB Tables</a></li>
                            <li class="breadcrumb-item"><a asp-action="Table" asp-controller="Feature">Features</a></li>
                            <li class="breadcrumb-item active">Feature</li>
                        </ol>
                    </div>
                    <h4 class="page-title">Our Features</h4>
                </div>
            </div>
        </div>
        <!-- end page title end breadcrumb -->
        <!-- Form for CreateTeamMemberVM -->
        <div class="row justify-content-center mb-5">
            <div class="col-md-8">
                <div class="card mt-5 shadow-sm">
                    <div class="card-header bg-primary text-white">
                        <h4 class="mb-0">Update Old Feature</h4>
                    </div>
                    <div class="card-body mx-5 mb-4">
                        <div asp-validation-summary="All" style="color: red; font-size: 16px">
                        </div>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Name" class="form-label">Name</label>
                                <br />
                                <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
                            </div>
                            <br />

                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary btn-block mt-3">Update</button>
                            </div>
                        </form>
                        <div class="d-grid">
                            <a href="@Url.Action("Table", "Feature")" class="btn btn-success btn-block mt-3" style="background-color: #28a745; color: white;">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end form -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->