@using TREKER.Business.ViewModels.ContactVMs
@model ContactVM

<!-- Banner Section -->
<section class="inner-banner">
    <div class="image-layer" style="background-image: url('@Url.Content("/assets/images/background/backphoto3.jpg")');"></div>
    <div class="auto-container">
        <div class="content-box">
            <h2>Contact</h2>
            <div class="bread-crumb">
                <ul class="clearfix">
                    <li><span class="icon-home fa fa-home"></span><a asp-action="Index" asp-controller="Home">Home</a></li>
                    <li class="current">Contact</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--End Banner Section -->
<!--Contact Section-->
<section class="contact-section">
    <div class="floated-icon right"><img src="~/assets/images/resource/stones-right-3.svg" alt="" title=""></div>
    <div class="floated-icon right-2"><img src="~/assets/images/resource/stones-right-2.svg" alt="" title=""></div>
    <div class="auto-container">

        <div class="info-section">
            <div class="row clearfix">

                <!--Block-->
                <div class="info-block col-lg-6 col-md-6 col-sm-12">
                    <div class="inner-box">
                        <div class="map-icon"><img src="~/assets/images/resource/asia-map.svg" alt="" title=""></div>
                        <h5>Baku & 28 May</h5>
                        <div class="address text">2473 Red Road Ste 98 <br>Singapore SG</div>
                        <div class="phone"><a href="tel:+16232116319">+ 1 623 211 6319</a></div>
                    </div>
                </div>
                <!--Block-->
                <div class="info-block col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-box">
                        <div class="map-icon"><img src="~/assets/images/resource/north-america-map.svg" alt="" title=""></div>
                        <h5>Baku & Ganjlik</h5>
                        <div class="address text">Canada 45 Gloucester Road <br>London T1M 3BF</div>
                        <div class="phone"><a href="tel:+45765371319">+ 45 765 371 319</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="title-box centered">
            <h2><span>How can we Help?</span></h2>
            <div class="text">Contact us and get strapped in for a better adventure experience in your life-time. Just look for opportunity to be with nature. </div>
        </div>
        <div class="form-box site-form">
            <div class="contact-form">
                @if(ViewData["message"] is not null)
                {
                    <div class="alert alert-success text-center" role="alert">
                        @ViewData["message"]
                    </div>
                }
                <div asp-validation-summary="All" style="color: red; font-size: 16px">
                </div>
                <form method="post">
                    <div class="row clearfix">
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Name <i>*</i></div>
                            <div class="field-inner">
                                <input type="text" asp-for="Name">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Email <i>*</i></div>
                            <div class="field-inner">
                                <input type="email" asp-for="Email">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Phone <i>*</i></div>
                            <div class="field-inner">
                                <input type="text" asp-for="Phone">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                            <div class="f-label">Your Subject <i>*</i></div>
                            <div class="field-inner">
                                <input type="text" asp-for="Subject">
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <div class="f-label">Write Message</div>
                            <div class="field-inner">
                                <textarea asp-for="Message"></textarea>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-two"><span>Submit Now<i class="icon far fa-angle-right"></i></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--Find Us Section-->
<section class="find-us">
    <div class="floated-icon left"><img src="~/assets/images/resource/stones-left.svg" alt="" title=""></div>
    <div class="floated-icon right"><img src="~/assets/images/resource/floated-icon-right-2.svg" alt="" title=""></div>
    <div class="auto-container">
        <div class="title-box centered">
            <h2><span>Find Our Office on Map</span></h2>
            <div class="text">Contact us and get strapped in for a better adventure experience in your life-time. Just look for opportunity to be with nature. </div>
        </div>
        <div class="row clearfix">
            <!--Text Col-->
            <div class="map-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInLeft" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="map">
                        <div class="map-image"><img src="~/assets/images/resource/world-map.svg" alt="" title=""></div>
                        <div class="loc-point loc-3">
                            <div class="loc-icon"><img src="images/icons/loc-hover.svg" alt="" title=""></div>
                            <div class="loc-popup">
                                <div class="text">Azerbaijan 28 May Street, Baku AZ1010</div>
                                <div class="link"><a href="https://maps.app.goo.gl/UyidmXw7CWzQm81a7">View on Map</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Text Col-->
            <div class="text-col col-lg-6 col-md-12 col-sm-12">
                <div class="inner wow fadeInRight" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <div class="accordion-box clearfix">
                        <!--Block-->
                        <div class="accordion block active-block">
                            <div class="acc-btn active">How can I find your location? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">You can find our location by visiting our website and checking the "Contact Us" or "Location" section, where you'll find detailed directions and a map. </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="accordion block">
                            <div class="acc-btn">What do I need to carry? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        For your trekking trip, we recommend carrying the following items: Comfortable and sturdy hiking boots,
                                        weather-appropriate clothing, including layers for warmth,
                                        a waterproof jacket, a hat and sunglasses for sun protection,
                                        a backpack to carry your essentials,
                                        plenty of water and snacks,
                                        a first aid kit,
                                        a map and compass or a GPS device.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Block-->
                        <div class="accordion block">
                            <div class="acc-btn">How concerned should I be about the altitude? <i class="fa-regular fa-angle-down"></i></div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Altitude can affect individuals differently, so it's important to be prepared. While most people adjust without significant issues, some may experience symptoms of altitude sickness, such as headaches, dizziness, nausea, or shortness of breath.</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="map-section">
    <!--Map Box-->
    <div class="map-box">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.3952376819323!2d49.834362715242234!3d40.37833837936986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d03d1c2d5d7%3A0x2b85d99f9cfa258!2s28%20May%20St%2C%20Baku%2C%20Azerbaijan!5e0!3m2!1sen!2saz!4v1627804349717!5m2!1sen!2saz" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</section>

