@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Treker - Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description" />
    <meta content="Mannatthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/manage/images/favicon.ico">

    <link href="~/manage/plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link href="~/manage/css/bootstrap-material-design.min.css" rel="stylesheet" type="text/css">
    <link href="~/manage/css/icons.css" rel="stylesheet" type="text/css">
    <link href="~/manage/css/style.css" rel="stylesheet" type="text/css">


    <style>
        .message-card {
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            text-align: center;
            font-family: 'Arial', sans-serif;
        }

            .message-card h2 {
                color: green;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }

            .message-card img {
                margin-bottom: 20px;
                width: 100%;
            }
    </style>
</head>


<body>

    <!-- Begin page -->
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="~/manage/images/extra.png" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-6">
                            <div class="card message-card">
                                <div class="card-body">
                                    <h2>
                                        Check your gmail account to confirm your change password
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery  -->
    <script src="~/manage/js/jquery.min.js"></script>
    <script src="~/manage/js/popper.min.js"></script>
    <script src="~/manage/js/bootstrap-material-design.js"></script>
    <script src="~/manage/js/modernizr.min.js"></script>
    <script src="~/manage/js/detect.js"></script>
    <script src="~/manage/js/fastclick.js"></script>
    <script src="~/manage/js/jquery.slimscroll.js"></script>
    <script src="~/manage/js/jquery.blockUI.js"></script>
    <script src="~/manage/js/waves.js"></script>
    <script src="~/manage/js/jquery.nicescroll.js"></script>
    <script src="~/manage/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="~/manage/js/app.js"></script>

</body>
</html>